.cover__subtitle {
  font-size: 18px;
  line-height: 1.223;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 0;
  max-width: 360px;
  z-index: 2;
}

@media screen and (max-width: 520px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.1429;
    max-width: 288px;
  }
}
