.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer__container {
    padding: 0 118px 24px 16px;
    flex-direction: column;
  }
}
