.intro__container {
  max-width: 984px;
  padding: 92px 48px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro__container {
    margin: 0;
    max-width: 690px;
  }
}

@media screen and (max-width: 800px) {
  .intro__container {
    padding: 88px 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 730px) {
  .intro__container {
    padding: 64px 16px;
    max-width: 288px;
  }
}

