.lead__title {
  font-size: 96px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.042;
  max-width: 720px;
  text-align: center;
  margin: 0 0 32px;
}

@media screen and (max-width: 680px) {
  .lead__title {
    max-width: 288px;
    line-height: 1.1;
    font-size: 40px;
    margin: 0 0 16px;
  }
}
