.lead__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 48px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead__container {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__container {
    max-width: 768px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__container {
    max-width: 320px;
    padding: 0;
  }
}
