.footer {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 0 24px 16px;
    flex-direction: column;
  }
}
