.intro__title {
margin: 0 0 40px 0;
font-size: 54px;
font-weight: 900;
line-height: 1.074;
max-width: 690px;
}

@media screen and (max-width: 730px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09375;
  }
}
